{% extends 'auctions/layout.html' %} {% block body %}

<h2>Create New Listing</h2>
<form method="POST" action="{% url 'create_listing' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="starting_bid">Starting Bid:</label>
    <input
      type="number"
      class="form-control"
      id="starting_bid"
      name="starting_bid"
      step="0.01"
      min="0.01"
      required
    />
  </div>
  <div class="form-group">
    <label for="image">Image URL:</label>
    <input type="url" class="form-control" id="image" name="image" />
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <select required class="form-control" id="category" name="category">
      <option value="">Select a category</option>
      <option value="Fashion">Clothing</option>
      <option value="Toys">Toys</option>
      <option value="Electronics">Electronics</option>
      <option value="Home">Home items</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create Listing</button>
</form>
{% endblock %}
